<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.liewa.daemon.plist</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>30</integer>

    <key>StandardErrorPath</key>
    <string>/Users/macbook/Documents/Live-Earth-Wallpapers/dist/app/stderr.log</string>

    <key>StandardOutPath</key>
    <string>/Users/macbook/Documents/Live-Earth-Wallpapers/dist/app/stdout.log</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string><![CDATA[/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin]]></string>
    </dict>

    <key>WorkingDirectory</key>
    <string>/Users/macbook/Documents/Live-Earth-Wallpapers/</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/macbook/Documents/Live-Earth-Wallpapers/venv/bin/python</string>
      <string>/Users/macbook/Documents/Live-Earth-Wallpapers/dist/app/cli.py</string>
    </array>

  </dict>
</plist>