altgraph==0.17.4
beautifulsoup4==4.11.1
build==1.1.1
certifi==2024.2.2
charset-normalizer==2.1.1
idna==3.6
numpy==1.26.4
opencv-python==4.9.0.80
packaging==24.0
Pillow==9.3.0
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pyproject_hooks==1.0.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
requests==2.28.1
soupsieve==2.5
tomli==2.0.1
urllib3==1.26.18
